<p id="notice"><%= notice %></p>

<h1>Welcome, Mr. Khail!</h1>

Here are all course groups that you have joined:
<br />
<br />

<table>
  <tbody>
    <% @study_groups.each do |study_group| %>
      <tr>
        <td><%= link_to study_group.name, study_group %></td>
        <td><%= link_to 'Leave', study_group, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

